/* Layout */
#gnb {
    width: 100%;
    height: 32px;
    background: #000000;
}

#footer {
    padding-top: 100px;
}

.container {
    width: 944px;
    margin: 0 auto;
    position: relative;
}

/* gnb */
.gnb_inner {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#gnb h6 {
    font: 0.8em;
}
#gnb h6 a {
    color: #fff;
}
#gnb h6 a:hover {
    color: rgb(61, 59, 59);
}

#gnb ul {
    display: flex;
}
#gnb ul li {
    font-size: 0.85em;
    padding: 0 9px;
}
#gnb ul li:last-child {
    padding-right: 0;
}
#gnb ul li a {
    color: #fff;
}
#gnb ul li a:hover {
    color: rgb(61, 59, 59);
}

/* 이미지를 표현하는 방법
1) html 태그를 통해서 표현하는 방법 ex) < img src=".." >
- 중요한 이미지에/배너 등등
2) css 속성값으로 표현하는 방법 ex) background:....
3) 이미지 스프라이트 방법: 아이콘 종류에 많이 쓰임
*/
/* 아이콘 */
#gnb h6 span {
    display: inline-block;
    width: 15px;
    height: 10px;
    background: url(../img/icons.png) no-repeat -350px 2px;
    margin-left: 3px;
}
#gnb ul li span {
    display: inline-block;
    width: 15px;
    height: 10px;
    background: url(../img/icons.png) no-repeat 0 0;
    margin-left: 5px;
}
#gnb ul li:nth-child(3) span {
    background-position: -299px 2px;
}
#gnb ul li:nth-child(4) span {
    background-position: -200px 2px;
}
#gnb ul li:nth-child(6) span {
    background-position: -250px 2px;
}

/* header */
.header_inner {
    height: 109px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul.menu {
    display: flex;
}
ul.menu li a {
    display: block;
    padding: 0 11px;
    font-weight: bold;

    position: relative;
}
ul.menu li:first-child a {
    padding-left: 0;
}
/* 가상요소:css에 문자를 넣을 수 있음 */
ul.menu li a.bar::after {
    content: "";
    width: 1px;
    height: 10px;
    background-color: #a76f6f;
    position: absolute;
    top: 2px;
    right: 0;
}
ul.menu li a:hover {
    color: rgb(138, 80, 80);
}

h1.logo {
    font-family: "Nanum Myeongjo", serif;
    font-size: 4em;
    letter-spacing: 7px;
    font-weight: 600;

    /* 사이트 로고 반응형에서도 정중앙에 두는 법
    container에 position: relative; */
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}
h1.logo a {
    color: #1b1b1b;
}
h1.logo a span {
    color: #a7a6a6;
    letter-spacing: 0;
}

.search_box {
    display: flex;
    border: 1px solid #646464;
    box-sizing: border-box;
}
.search_box input {
    display: block;
    width: 184px;
    height: 36px;
    padding-left: 10px;
    outline: none;
    background-color: transparent;
}
.search_box button {
    display: block;
    width: 36px;
    height: 36px;
    background: url(../img/lip.png) no-repeat center center / 75%;
    cursor: pointer;
}

/* nav */
#nav ul {
    /* height: 56px;
    align-items: center; */
    display: flex;
    justify-content: space-around;
    border-top: 5px solid #000000;
}
#nav ul li {
    font-family: "Clarity City", sans-serif;
    font-size: 1em;
    font-weight: bold;
}
#nav ul li a {
    display: block;
    padding: 20px 0;
    color: #000000;
}
#nav ul li a:hover {
    color: rgb(138, 80, 80);
}

/********** main start **********/
/* main banner */
.main_banner {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
.rolling {
    width: 624px;
}
.rolling img {
    width: 100%;
}
.feature_item {
    width: 304px;
    height: 304px;
    margin-bottom: 16px;
    border: 1px solid #727272;
    box-sizing: border-box;
}
.feature_item figcaption {
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    font-family: "Clarity City", sans-serif;
    font-weight: 700;
    padding-top: 10px;
}
.feature_item .feature_img {
    text-align: center;
}
.main_event {
    width: 304px;
    height: 136px;
    background-color: #dd8f8f;
    background: url(../img/main_event.png) no-repeat center center / cover;
}

/* item_txt */
.item_txt ul {
    text-align: center;
    width: 90%;
    margin: 0 auto;
}
.item_txt ul li {
    margin-bottom: 3px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.item_txt ul li:first-child {
    font-weight: bolder;
    color: #1b1b1b;
}
.item_txt ul li:nth-child(2) {
    color: #727272;
}
.item_txt ul li span.money {
    color: #1b1b1b;
    font-weight: 800;
    margin-right: 8px;
}
.item_txt ul li span.cancel {
    color: #727272;
    text-decoration: line-through;
}

/* title start - 메인안 섹션별로 사용 */
.title {
    height: 46px;
    border-top: 5px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title h2 {
    font-family: "Clarity City", sans-serif;
    font-size: 2em;
    letter-spacing: 3px;
    color: #1b1b1b;
}
/* title end */

/* special_picks */
.special_picks {
    margin-top: 50px;
}
.pick_menu {
    border-top: 2px dotted #000000;
}
.pick_menu ul {
    display: flex;
    justify-content: center;
    border-top: 2px dotted #000000;
}
.pick_menu ul li {
    padding: 0 15px;
    position: relative;
}
.pick_menu ul li a {
    display: block;
    font-weight: bold;
    padding: 15px 0;
}
.pick_menu ul li a:hover {
    border-top: 4px solid #000000;
    margin-top: -4px;
    /* or 
    position: relative;
    top: -4px; */
}

/* 삼각형 만들기 - 가상요소와 보더의 성질 이용*/
.triangle::before {
    content: "";
    border-top: 5px solid #000;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}
.pick_menu ul li a:hover .triangle::before {
    opacity: 1;
}

.pick_box {
    display: flex;
}
.pick {
    width: 25%;
    text-align: center;
    padding-bottom: 15px;
}
.pick_img {
    padding: 15px 0;
}
.pick_icon {
    width: 25px;
    height: 16px;
    margin: 0 auto;
    margin-bottom: 8px;
    background: url(../img/icons.png) no-repeat 0 0;
}
.icon02 {
    width: 48px;
    background-position: -50px 0;
}
.icon04 {
    background-position: -150px 0;
}

/* magazine */
.magazine {
    margin-top: 50px;
}

/* brand_focus */
.brand_focus {
    margin-top: 50px;
}
.product_box {
    display: flex;
    justify-content: space-between;
}

/* best_contents */
.best_contents {
    margin-top: 50px;
}
.best_inner {
    display: flex;
}
.best_menu {
    width: 178px;
}
.best_menu li {
}
.best_menu li a {
    display: block;
    width: 100%;
    height: 72px;
}
.best_menu li:nth-child(1) a {
    background: url(../img/best_menu01.jpg);
}
.best_menu li:nth-child(2) a {
    background: url(../img/best_menu02.jpg);
}
.best_menu li:nth-child(3) a {
    background: url(../img/best_menu03.jpg);
}
.best_menu li:nth-child(4) a {
    background: url(../img/best_menu04.jpg);
}
.best_menu li:nth-child(1) a:hover {
    background: url(../img/best_menu01_r.jpg);
}
.best_menu li:nth-child(2) a:hover {
    background: url(../img/best_menu02_r.jpg);
}
.best_menu li:nth-child(3) a:hover {
    background: url(../img/best_menu03_r.jpg);
}
.best_menu li:nth-child(4) a:hover {
    background: url(../img/best_menu04_r.jpg);
}
.best_iframe {
    width: 768px;
    height: 288px;
}

/* tab_box */
.tab_box {
    margin-top: 50px;
}
.seller_box {
    display: flex;
    justify-content: space-evenly;
}
.seller_box a {
    transition: 0.5s;
}
.seller_box a:hover {
    filter: blur(5px);
}

/* footer */
.footer_inner {
    display: flex;
    border-top: 5px solid #000;
    padding: 30px 0;
}
.footer_inner section {
    flex: 1;
    padding: 0 15px;
    height: 100px;
}
.footer_inner section ul {
    border-right: 1px solid #979797;
    height: inherit;
}
.footer_inner section ul.outlet {
    border-right: 0;
    border-bottom: 1px dotted #000;
    padding-bottom: 7px;
    height: 38px;
}
.footer_inner section ul li {
    margin-bottom: 3px;
}
.footer_inner section ul li span {
    font-weight: bold;
    font-size: 1.2em;
}
.footer_inner section ul li strong {
    font-size: 1.7em;
}
